In [1]:
import tweepy
import json

ModuleNotFoundError: No module named 'tweepy'

In [2]:
credentials_file=open("twitter_credentials.json")
credentials=json.load(credentials_file)

In [3]:
auth = tweepy.OAuthHandler(credentials["CONSUMER_KEY"],credentials["CONSUMER_SECRET"])
auth.set_access_token(credentials["ACCESS_TOKEN"], credentials["ACCESS_SECRET"])
api = tweepy.API(auth)
public_tweets = api.home_timeline()
for tweet in public_tweets:
    print(tweet.text)

Reviewed the situation in the wake of cyclone conditions and heavy rain in parts of Eastern India.

Spoke to WB CM… https://t.co/jqR0gOhDeg
Yesterday, I was delighted to have got the opportunity to inaugurate the Kartarpur corridor and attend other progra… https://t.co/dONCflJKmE
Greetings on Milad-Un-Nabi. Inspired by the thoughts of Prophet Muhammad, may this day further the spirit of harmon… https://t.co/yYkYlkAoNz
#YouTubeSocialimpact has partnered with @Movember to help change the face of men’s health. Get your 'stache on:… https://t.co/SKDOCQ9UO1
उन्नति के नए आयाम तय कर रही देवभूमि उत्तराखंड के निवासियों को राज्य स्थापना दिवस की बहुत-बहुत बधाई।
My address to the nation. https://t.co/xeMEuOyun0
I am humbled and honoured that the SGPC has conferred the ‘Kaumi Seva Puraskar’ to me.

I bow to the venerable Shr… https://t.co/rL58ItulcZ
ਮੈਂ ਗੁਰੂ ਨਾਨਕ ਦੇਵ ਜੀ ਦੀਆਂ ਸਿੱਖਿਆਵਾਂ ਤੇ ਸਿਧਾਂਤਾਂ ਅੱਗੇ ਸੀਸ ਝੁਕਾਉਂਦਾ ਹਾਂ ਤੇ ਇਹ ਪੁਰਸਕਾਰ ਉਨ੍ਹਾਂ ਦੇ ਚਰਨਾਂ ‘ਚ ਭੇਂਟ ਕਰਦਾ… https://t.co/VJQyEWOdxq
ਸ਼੍ਰੋਮਣੀ ਗੁਰਦੁਆਰਾ ਪ੍ਰਬੰਧਕ ਕਮੇਟੀ ਵੱਲੋਂ ਮੈਨੂੰ ‘ਕੌਮੀ ਸੇਵਾ ਪੁਰਸਕਾਰ’ ਨਾਲ ਸਨਮਾਨਿਤ ਕੀਤੇ ਜਾਣ ‘ਤੇ ਆਪਣੇ ਆਪ ਨੂੰ ਬਹੁਤ ਖੁਸ਼ਕਿਸਮਤ… https://t.co/Z3mYOAwsFw
The Kartarpur corridor will deepen the connect between lakhs of pilgrims and Shri Guru Nanak Dev Ji.

It is my hon… https://t.co/YBMuVuljZP
ਕਰਤਾਰਪੁਰ ਕੋਰੀਡੋਰ  ਲੱਖਾਂ ਸ਼ਰਧਾਲੂਆਂ ਅਤੇ ਗੁਰੂ ਨਾਨਕ ਦੇਵ ਜੀ ਦੇ ਜੁੜਾਵ ਨੂੰ ਹੋਰ ਗਹਿਰਾ ਕਰੇਗਾ

ਅੱਜ ਇਸ ਕੋਰੀਡੋਰ ਦਾ ਉਦਘਾਟਨ ਕਰਨਾ… https://t.co/tgz4kAhLlg
A commemorative coin and stamp was released in the honour of Shri Guru Nanak Dev Ji. https://t.co/3AMCk2XNL4
ਗੁਰੂ ਨਾਨਕ ਦੇਵ ਜੀ ਦੇ ਸਤਿਕਾਰ ਵਿੱਚ ਇੱਕ ਯਾਦਗਾਰੀ ਸਿੱਕਾ ਅਤੇ ਸਟੈਂਪ ਜ਼ਾਰੀ ਕੀਤਾ ਗਿਆ https://t.co/KWcIxwItcY
ਸ੍ਰੀ ਗੁਰੂ ਨਾਨਕ ਦੇਵ ਜੀ ਵੱਲੋਂ ਸ਼ੁਰੂ ਕੀਤੀ ਕਈ ਲੰਗਰ ਪ੍ਰਥਾ ਅੱਜ ਦੁਨੀਆਂ ਭਰ ਵਿੱਚ ਚੱਲ ਰਹੀ ਹੈ। ਸਰਬੱਤ ਦਾ ਭਲਾ ਮੰਗਣ ਵਾਲੇ ਗੁਰੂ ਨਾਨ… https://t.co/u39QXjPeAI
The calm and peace maintained by 130 crore Indians in the run-up to today’s verdict manifests India’s inherent comm… https://t.co/OAp7hep33A
The halls of justice have amicably concluded a matter going on for decades. Every side, every point of view was giv… https://t.co/5ydmDs1da6
SC’s Ayodhya Judgment is notable because:

It highlights that any dispute can be amicably solved in the spirit of d… https://t.co/HX9lx0HWn9
The Honourable Supreme Court has given its verdict on the Ayodhya issue. This verdict shouldn’t be seen as a win or… https://t.co/Wr1qWtn9uA
यह फैसला न्यायिक प्रक्रियाओं में जन सामान्य के विश्वास को और मजबूत करेगा।

हमारे देश की हजारों साल पुरानी भाईचारे… https://t.co/HjupEQc6xG
सुप्रीम कोर्ट का यह फैसला कई वजहों से महत्वपूर्ण है:
यह बताता है कि किसी विवाद को सुलझाने में कानूनी प्रक्रिया का… https://t.co/4RaKLPN625

In [23]:
import pandas as pd
import numpy as np

In [24]:
genuin_users_dataset = pd.read_csv('data/tagged dataset/A dataset of (i) genuine, (ii) traditional, and (iii) social spambot Twitter accounts/genuine_accounts.csv/users.csv')
# genuin_tweets_dataset = pd.read_csv('data/tagged dataset/A dataset of (i) genuine, (ii) traditional, and (iii) social spambot Twitter accounts/genuine_accounts.csv/tweets.csv')

In [25]:
fake_users_dataset_1= pd.read_csv('data/tagged dataset/A dataset of (i) genuine, (ii) traditional, and (iii) social spambot Twitter accounts/traditional_spambots_1.csv/users.csv')
fake_users_dataset_2 = pd.read_csv('data/tagged dataset/A dataset of (i) genuine, (ii) traditional, and (iii) social spambot Twitter accounts/traditional_spambots_2.csv/users.csv')
fake_users_dataset_3 = pd.read_csv('data/tagged dataset/A dataset of (i) genuine, (ii) traditional, and (iii) social spambot Twitter accounts/traditional_spambots_3.csv/users.csv')
fake_users_dataset_4 = pd.read_csv('data/tagged dataset/A dataset of (i) genuine, (ii) traditional, and (iii) social spambot Twitter accounts/traditional_spambots_4.csv/users.csv')

In [26]:
genuin_users_dataset.shape

(3474, 42)

In [27]:
fake_users_dataset_1.shape

(1000, 40)

In [28]:
fake_users_dataset_2.shape

(100, 40)

In [29]:
fake_users_dataset_3.shape

(403, 40)

In [30]:
fake_users_dataset_4.shape

(1128, 40)

In [31]:
genuin_users_dataset.columns

Index(['id', 'name', 'screen_name', 'statuses_count', 'followers_count',
       'friends_count', 'favourites_count', 'listed_count', 'url', 'lang',
       'time_zone', 'location', 'default_profile', 'default_profile_image',
       'geo_enabled', 'profile_image_url', 'profile_banner_url',
       'profile_use_background_image', 'profile_background_image_url_https',
       'profile_text_color', 'profile_image_url_https',
       'profile_sidebar_border_color', 'profile_background_tile',
       'profile_sidebar_fill_color', 'profile_background_image_url',
       'profile_background_color', 'profile_link_color', 'utc_offset',
       'is_translator', 'follow_request_sent', 'protected', 'verified',
       'notifications', 'description', 'contributors_enabled', 'following',
       'created_at', 'timestamp', 'crawled_at', 'updated', 'test_set_1',
       'test_set_2'],
      dtype='object')

In [10]:
fake_users_dataset_1.columns

Index(['id', 'name', 'screen_name', 'statuses_count', 'followers_count',
       'friends_count', 'favourites_count', 'listed_count', 'url', 'lang',
       'time_zone', 'location', 'default_profile', 'default_profile_image',
       'geo_enabled', 'profile_image_url', 'profile_banner_url',
       'profile_use_background_image', 'profile_background_image_url_https',
       'profile_text_color', 'profile_image_url_https',
       'profile_sidebar_border_color', 'profile_background_tile',
       'profile_sidebar_fill_color', 'profile_background_image_url',
       'profile_background_color', 'profile_link_color', 'utc_offset',
       'is_translator', 'follow_request_sent', 'protected', 'verified',
       'notifications', 'description', 'contributors_enabled', 'following',
       'created_at', 'timestamp', 'crawled_at', 'updated'],
      dtype='object')

In [17]:
for attribute in genuin_users_dataset.columns:
    print(attribute)

id
name
screen_name
statuses_count
followers_count
friends_count
favourites_count
listed_count
url
lang
time_zone
location
default_profile
default_profile_image
geo_enabled
profile_image_url
profile_banner_url
profile_use_background_image
profile_background_image_url_https
profile_text_color
profile_image_url_https
profile_sidebar_border_color
profile_background_tile
profile_sidebar_fill_color
profile_background_image_url
profile_background_color
profile_link_color
utc_offset
is_translator
follow_request_sent
protected
verified
notifications
description
contributors_enabled
following
created_at
timestamp
crawled_at
updated
test_set_1
test_set_2

In [18]:
for attribute in fake_users_dataset_1.columns:
    print(attribute)

id
name
screen_name
statuses_count
followers_count
friends_count
favourites_count
listed_count
url
lang
time_zone
location
default_profile
default_profile_image
geo_enabled
profile_image_url
profile_banner_url
profile_use_background_image
profile_background_image_url_https
profile_text_color
profile_image_url_https
profile_sidebar_border_color
profile_background_tile
profile_sidebar_fill_color
profile_background_image_url
profile_background_color
profile_link_color
utc_offset
is_translator
follow_request_sent
protected
verified
notifications
description
contributors_enabled
following
created_at
timestamp
crawled_at
updated

In [3]:
genuin_users_dataset.head()

,id,name,screen_name,statuses_count,followers_count,friends_count,favourites_count,listed_count,url,lang,...,notifications,description,contributors_enabled,following,created_at,timestamp,crawled_at,updated,test_set_1,test_set_2
0,1502026416,TASUKU HAYAKAWA,0918Bask,2177,208,332,265,1,NaN,ja,...,NaN,15years ago X.Lines24,NaN,NaN,Tue Jun 11 11:20:35 +0000 2013,2013-06-11 13:20:35,2015-05-02 06:41:46,2016-03-15 15:53:47,0,0
1,2492782375,ro_or,1120Roll,2660,330,485,3972,5,NaN,ja,...,NaN,保守見習い地元大好き人間。 経済学、電工、仏教を勉強中、ちなDeではいかんのか？ (*^◯^*),NaN,NaN,Tue May 13 10:37:57 +0000 2014,2014-05-13 12:37:57,2015-05-01 17:20:27,2016-03-15 15:53:48,0,0
2,293212315,bearclaw,14KBBrown,1254,166,177,1185,0,NaN,en,...,NaN,Let me see what your best move is!,NaN,NaN,Wed May 04 23:30:37 +0000 2011,2011-05-05 01:30:37,2015-05-01 18:48:28,2016-03-15 15:53:48,0,0
3,191839658,pocahontas farida,wadespeters,202968,2248,981,60304,101,http://t.co/rGV0HIJGsu,en,...,NaN,20. menna: #farida #nyc and the 80s actually y...,NaN,NaN,Fri Sep 17 14:02:10 +0000 2010,2010-09-17 16:02:10,2015-05-01 13:55:16,2016-03-15 15:53:48,0,0
4,3020965143,Ms Kathy,191a5bd05da04dc,82,21,79,5,0,NaN,en,...,NaN,Cosmetologist,NaN,NaN,Fri Feb 06 04:10:49 +0000 2015,2015-02-06 05:10:49,2015-05-02 01:17:32,2016-03-15 15:53:48,0,0

In [6]:
fake_users_dataset.columns

Index(['id', 'name', 'screen_name', 'statuses_count', 'followers_count',
       'friends_count', 'favourites_count', 'listed_count', 'url', 'lang',
       'time_zone', 'location', 'default_profile', 'default_profile_image',
       'geo_enabled', 'profile_image_url', 'profile_banner_url',
       'profile_use_background_image', 'profile_background_image_url_https',
       'profile_text_color', 'profile_image_url_https',
       'profile_sidebar_border_color', 'profile_background_tile',
       'profile_sidebar_fill_color', 'profile_background_image_url',
       'profile_background_color', 'profile_link_color', 'utc_offset',
       'is_translator', 'follow_request_sent', 'protected', 'verified',
       'notifications', 'description', 'contributors_enabled', 'following',
       'created_at', 'timestamp', 'crawled_at', 'updated'],
      dtype='object')

In [7]:
genuin_users_dataset.columns

Index(['id', 'name', 'screen_name', 'statuses_count', 'followers_count',
       'friends_count', 'favourites_count', 'listed_count', 'url', 'lang',
       'time_zone', 'location', 'default_profile', 'default_profile_image',
       'geo_enabled', 'profile_image_url', 'profile_banner_url',
       'profile_use_background_image', 'profile_background_image_url_https',
       'profile_text_color', 'profile_image_url_https',
       'profile_sidebar_border_color', 'profile_background_tile',
       'profile_sidebar_fill_color', 'profile_background_image_url',
       'profile_background_color', 'profile_link_color', 'utc_offset',
       'is_translator', 'follow_request_sent', 'protected', 'verified',
       'notifications', 'description', 'contributors_enabled', 'following',
       'created_at', 'timestamp', 'crawled_at', 'updated', 'test_set_1',
       'test_set_2'],
      dtype='object')

In [13]:
genuin_tweets_dataset.head()

,id,text,source,user_id,truncated,in_reply_to_status_id,in_reply_to_user_id,in_reply_to_screen_name,retweeted_status_id,geo,...,favorited,retweeted,possibly_sensitive,num_hashtags,num_urls,num_mentions,created_at,timestamp,crawled_at,updated
0,593932392663912449,RT @morningJewshow: Speaking about Jews and co...,"<a href=""http://tapbots.com/tweetbot"" rel=""nof...",678033.0,NaN,0.0,0.0,NaN,5.939322e+17,NaN,...,NaN,NaN,NaN,0.0,0.0,1.0,Fri May 01 00:18:11 +0000 2015,2015-05-01 02:18:11,2015-05-01 12:57:19,2015-05-01 12:57:19
1,593895316719423488,This age/face recognition thing..no reason pla...,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",678033.0,NaN,0.0,0.0,NaN,0.000000e+00,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,Thu Apr 30 21:50:52 +0000 2015,2015-04-30 23:50:52,2015-05-01 12:57:19,2015-05-01 12:57:19
2,593880638069018624,Only upside of the moment I can think of is th...,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",678033.0,NaN,0.0,0.0,NaN,0.000000e+00,NaN,...,NaN,NaN,NaN,2.0,0.0,0.0,Thu Apr 30 20:52:32 +0000 2015,2015-04-30 22:52:32,2015-05-01 12:57:19,2015-05-01 12:57:19
3,593847955536252928,If you're going to think about+create experien...,"<a href=""http://tapbots.com/tweetbot"" rel=""nof...",678033.0,NaN,0.0,0.0,NaN,0.000000e+00,NaN,...,NaN,NaN,NaN,2.0,0.0,0.0,Thu Apr 30 18:42:40 +0000 2015,2015-04-30 20:42:40,2015-05-01 12:57:19,2015-05-01 12:57:19
4,593847687847350272,Watching a thread on FB about possible future ...,"<a href=""http://tapbots.com/tweetbot"" rel=""nof...",678033.0,NaN,0.0,0.0,NaN,0.000000e+00,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,Thu Apr 30 18:41:36 +0000 2015,2015-04-30 20:41:36,2015-05-01 12:57:19,2015-05-01 12:57:19

In [14]:
genuin_dataset= genuin_users_dataset.set_index('id').join(genuin_tweets_dataset.set_index('user_id'),how='inner')

ValueError: columns overlap but no suffix specified: Index(['created_at', 'timestamp', 'crawled_at', 'updated'], dtype='object')

In [20]:
genuin_tweets_dataset.dtypes

id                          object
text                        object
source                      object
user_id                    float64
truncated                  float64
in_reply_to_status_id      float64
in_reply_to_user_id        float64
in_reply_to_screen_name     object
retweeted_status_id        float64
geo                        float64
place                       object
contributors               float64
retweet_count              float64
reply_count                float64
favorite_count             float64
favorited                  float64
retweeted                  float64
possibly_sensitive         float64
num_hashtags               float64
num_urls                   float64
num_mentions               float64
created_at                  object
timestamp                   object
crawled_at                  object
updated                     object
dtype: object

In [ ]:
users=pd.read_cs